header {
    text-align: center;
    font: 18px/1.5 sans-serif;
}

main {
    width: 800px;
    position: absolute;
    left: 30%;
    right: 30%;
}

p, h3 {
    margin: 0 0;
    padding: 0 0;
    color: #333;
}

section {
    padding: 1% 0;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts a {
    text-decoration: none;
}

.summary h3, .experience h3, .skills h3 {
    margin-bottom: 1%;
}

span.bold {
    font-weight: 700;
    font-family: sans-serif;
}

section h3 {
    font-weight: 700;
}

table {
    margin-bottom: 1%;
}

table, th, td {
    border: 1px solid #eee;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5%;
    table-layout:fixed;    
}

.table-right {
    width: 20%;
}

td {
    padding: 2px;
    padding-left: 1%;
}